.frame {
  text-align:center;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#000000;
  height: 1px;
}

.resume-download {
  float: right;

}

.resume-download .glyphicon {
  height: 39px;
  line-height: 39px;
  color: black;
  vertical-align: text-top;
}

.resume-download .glyphicon:hover {
  color: #4d5460;
}
