.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #FFF;
  text-align: center;
  border-top: 1px solid #DDD;
}

.footer hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#DDD;
  height: 1px;
  margin: 0px;
}

.footer > .icon-link{
  text-decoration: none;
}

.footer .icon-link:hover{
    text-decoration: none;
}

.footer .icon-link > i{
  padding: 5px 10px 5px 10px;
}

.footer .icon-link > i:hover{
  color:black;
}
