.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #FFFFFF;
  text-align: center;
}

.footerRule {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#eee;
  height: 1px;
  margin-bottom: 5px;
}

.footer > .icon-link{
  text-decoration: none;
}

.footer .icon-link:hover{
    text-decoration: none;
}

.footer .icon-link > i{
  padding: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer .icon-link > i:hover{
  color:black;
}
