.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #FFFFFF;
  text-align: center;
}

.footerRule {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#eee;
  height: 1px;
}
