<footer class = "footer">
  <div class = "container-fluid">
    <div class = "row">
      <div class = "container">
        <a href = "https://github.com/johnBartos" class = "icon-link">
          <i class=" fa fa-github fa-2x text-muted"></i>
        </a>
        <a href = "https://www.linkedin.com/profile/view?id=383055685&trk=nav_responsive_tab_profile" class = "icon-link">
          <i class="fa fa-linkedin-square fa-2x text-muted"></i>
        </a>
          <!-- <a href = "mailto:jbartos7@gmail.com" class = "icon-link">
            <i class="fa fa-envelope fa-2x text-muted"></i>
        </a> -->
        <a href="" popover-placement="top" uib-popover="jbartos7@gmail.com" class="icon-link"><i class="fa fa-envelope fa-2x text-muted"></i></a>

      </div>
    </div>
  </div>
</footer>
