hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#000000;
  height: 1px;
}

.proj > hr {
    background-color:#DDDDDD;
    height: 1px;
}

.proj a {
  color: black;
  text-decoration: none;
}

.proj a:hover {
  color: #4d5460;
  text-decoration: none;
}

.proj a:active {
  color: black;
  text-decoration: none;
}
