<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/footer/footer.html'"></div>
<link rel="stylesheet" type="text/css" href="app/projects/projects.css" />

<div class = "container">
  <h1>Projects</h1>
  <hr>
</div>

<div class = "container">
  <div class = "row">
    <div ng-repeat="p in projects.list">
      <div class = "col-md-offset-2 col-md-8 proj col-md-offset-2">
            <h2> {{p.Name}} </h2>
            <p>{{p.Description}}</p>
            <div ng-if="p.Link">
              <a ng-href = "{{p.Link}}">
                <i class="fa-angle-double-right"></i> See it on Github
              </a>
            </div>
            <hr>
      </div>
    </div>
  </div>
</div>
