<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/footer/footer.html'"></div>
<link rel="stylesheet" type="text/css" href="app/projects/projects.css" />

<div class="container">
  <h1>Projects</h1>
  <hr>
</div>

<div class="container">
  <div class="row">
    <div ng-repeat="p in projects.list">
      <div class="col-md-offset-2 col-md-8 col-md-offset-2 proj">
       <h2>{{p.Name}}</h2>
        <span ng-if="p.Link"><a ng-href="{{p.Link}}"><h5 class="text-muted">Project Page <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></h5></a></span>
        <p>{{p.Description}}</p>
        <hr>
      </div>
    </div>
  </div>
</div>
