/*App-wide styles*/

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../bower  _components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'FontAwesome', Fallback, sans-serif;
  color: #000;
  background-color: #FFFFFF;
  margin-bottom: 50px;
}

.navbar {
  margin-bottom: 0;
}
