html {
  position: relative;
  min-height: 100%;
}
body {
  /*font-family: 'FontAwesome', Fallback, sans-serif;*/
  font-family: 'Roboto', sans-serif;  color: #000;
  background-color: #FFFFFF;
  margin-bottom: 50px;
}

.navbar {
  margin-bottom: 0;
}

/*Fix required for angular-bootstrap*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
