.navbar-default {
  background-color: #363b44;
  border-color: #363b44;
  margin-bottom: 0;
  font-size: small;
  
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #bbbbbb;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #bbbbbb;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #bbbbbb;
  background-color: #4d5460;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #bbbbbb;
  background-color: #4d5460;
}
.navbar-default .navbar-toggle {
  border-color: #4d5460;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #4d5460;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #bbbbbb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #bbbbbb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #bbbbbb;
    background-color: #4d5460;
  }
}

.stripe{
  height:10px;
  background-image: -webkit-linear-gradient(left,
    #00B16A,
    #D64541,
    #19B5FE);
  background-image: -moz-linear-gradient(left,
    #00B16A,
    #D64541,
    #19B5FE);
  background-image: -ms-linear-gradient(left,
    #00B16A,
    #D64541,
    #19B5FE);
  background-image: linear-gradient(to right,
    #00B16A,
    #D64541,
    #19B5FE);
  background-size: 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  }

  .test
  {
    vertical-align: middle;
  }
