.navbar-default {
  background-color: #ffffff;
  border-color: #dddddd;
  margin-top: 0;
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #4d5460;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #4d5460;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #4d5460;
  background-color: #dddddd;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #4d5460;
  background-color: #dddddd;
}
.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #4d5460;
}

.muted{
  color: #DDD;
}
.muted:hover{
  color:black;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #4d5460;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #4d5460;
    background-color: #dddddd;
  }
}

.stripe{
  height:10px;
  background-image: -webkit-linear-gradient(left,
    #00B16A,
    #D64541,
    #19B5FE);
  background-image: -moz-linear-gradient(left,
    #00B16A,
    #D64541,
    #19B5FE);
  background-image: -ms-linear-gradient(left,
    #00B16A,
    #D64541,
    #19B5FE);
  background-image: linear-gradient(to right,
    #00B16A,
    #D64541,
    #19B5FE);
  background-size: 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  }
