.centered{
  text-align: center;
}

.centered > p {
  overflow: none;
  word-wrap:break-word;
}

.left{
  background-color: #DDD;
  min-height: 250px;
}

.icon{
  padding:0px 0px 12px 0px;
}

.right {
  text-align: right;
}

.main-content{
  background-color: #fff;
  margin-bottom: 0px;
}


.jumbotron hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#000000;
  height: 2px;
}

.icon-bar{
  margin-bottom:50px;
}

a:link{
  color: #000;
}

a:visited{
  color: #000;
}

a:hover {
  color: #373C45;
}
a:active{
  color: #000;
}

.commit{
  /*min-height: 52px;*/
  /*max-height: 52px;*/
  min-height: 26px;
  max-height: 26px;
  height: 100%;
  /*margin: 0px 10px 10px 0px;*/
  padding-left: 0;
  overflow: hidden;
  border: 1px solid #DDD;
  border-radius: 5px;
  text-align: center;
}

.commit .content > p {
  font-size: 1em;
}

.main-content .about p {
  font-size: 1em;
}

.event {
  border: 1px solid #DDD;
  border-radius: 5px;
  vertical-align: middle;
  padding: 0;
}
.event-header {
  text-align: left;
  vertical-align: bottom;
  padding: 0;
}

.event-header > h4{
  margin: 0;
}
