.centered{
  text-align: center;
}

.centered > p {
  overflow: none;
  word-wrap:break-word;
}

.icon{
  padding:0px 0px 12px 0px;
}

.right {
  text-align: right;
}

 /* full height for demo purposes */
.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.banner{
  background-color: #fff;
}

.noWhitespace{
  margin:0;
  padding:0;
  border:0;
}


hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#000000;
  height: 1px;
}

a:link{
  color: #000;
}

a:visited{
  color: #000;
}

a:hover {
  color: #373C45;
}
a:active{
  color: #000;
}
