.centered{
  text-align: center;
}

.centered > p {
  overflow: none;
  word-wrap:break-word;
}

.left{
  background-color: #DDD;
  min-height: 250px;
}

.icon{
  padding:0px 0px 12px 0px;
}

.right {
  text-align: right;
}

.banner{
  background-color: #fff;
  margin-bottom: 0px;
}


hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#000000;
  height: 2px;
}

.icon-bar{
  margin-bottom:50px;
}

a:link{
  color: #000;
}

a:visited{
  color: #000;
}

a:hover {
  color: #373C45;
}
a:active{
  color: #000;
}

.square{
  min-height: 20px;
  line-height: 20px;
  text-align: center;
}

.square > h2{
  vertical-align: middle;
  display: inline-block;
  margin: 0;
}

 .temp1{
  border-bottom: 2px solid;
  border-bottom-color:#00B16A;
}

.temp2{
  border-bottom: 2px solid;
  border-bottom-color:#D64541;
}
.temp3{
  border-bottom: 2px solid;
  border-bottom-color:#19B5FE;
}
