<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/footer/footer.html'"></div>
<link rel="stylesheet" type="text/css" href="app/main/main.css" />

  <div class="container main-content centered">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-md-offset-2 about">
        <div class="row about-header">
          <h4>Hello, World!</h4>
          <hr>
        </div>
        <div class="row about-content">
          <p>I'm John, and this is my 40 acres on the windswept hearth of the internet. I'm a Software Engineer living in New Jersey and
              employed by DataOnline LLC, where I program primarily in C# and JavaScript. Currently, I'm working on transforming our monolith SOA into a Microservice-based architecture. I graduated from Rutgers in 2014 with a degree in Electrical and Computer Engineering; originally, I went in for hardware but somehow ended up specializing in software. In addition to enjoying free-hand programming, in my spare time I like to kayak, mountain bike, loose at MTG, 3D print things.</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-md-offset-2 event">

          <carousel interval="10000" no-wrap="false">

            <slide ng-repeat="e in activity.events">
              <div class="row event-header">
                <div class="col-md-12 title centered">
                  <h4>Pushed to <a ng-href="{{e.repo.url}}"><span ng-bind="e.repo.name"></span></a> <span ng-bind="e.date"></span></h4>
                  <hr>
                </div>
              </div>

              <div class="col-md-12 event-content">

                  <div ng-repeat="c in e.commits">
                    <div class="row">
                      <div class="col-xs-1 bullet">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </div>
                      <a ng-href="{{c.url}}">
                        <div class="col-xs-11 commit">
                          <span ng-bind="c.message"></span>
                        </div>
                      </a>
                  </div>
                </div>

              </div>
            </slide>
          </carousel>

        </div>

      </div>
    </div>
  </div>

</div>
