<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/footer/footer.html'"></div>
<link rel="stylesheet" type="text/css" href="app/experience/jobs/jobs.css" />


<div class = "container">
  <div class = "row">
    <div class = "container title">
      <h1>{{job.Name}}</h1>
      <hr>
      <h4 class = "text-muted"> {{job.Date}}, {{job.Location}} </h4>
      <h4 class = "text-muted"> {{job.Position}} </h4>
      <p> {{job.Description}} </p>
    </div>
  </div>
</div>

<div class = "container">
  <h1>Projects</h1>
  <hr>
</div>

<div class = "container">
  <div class="row">
    <div ng-repeat="p in projects">
      <div class="col-md-3">
        <div class = "panel panel-default bordered">
          <div class = "panel-heading">
            <h3 class = "panel-title"> {{p.Name}} </h3>
          </div>
          <div class = "panel-body">
            <p> {{p.Description}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "container">
  <h1>Technologies</h1>
  <hr>
</div>

<div class = "container">
  <div class="row">
    <div ng-repeat="t in technologies">
      <div class="col-md-3">
        <div class = "panel panel-default bordered">
          <div class = "panel-heading">
            <h3 class = "panel-title"> {{t.Name}} </h3>
          </div>
          <div class = "panel-body">
            <p> {{t.Skill}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class = "container">
  <h1>Languages</h1>
  <hr>
</div>

<div class = "container">
  <div class="row">
    <div ng-repeat="l in languages">
      <div class="col-md-3">
        <div class = "panel panel-default bordered">
          <div class = "panel-heading">
            <h3 class = "panel-title"> {{l.Name}} </h3>
          </div>
          <div class = "panel-body">
            <p> {{l.Skill}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
