hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#000000;
  height: 1px;
}

.panel{
  border: 1px solid black;
  background-color:#DDD;
  padding-left: 6.5px;
  padding-right: 6.5px;
}

.panel > .panel-heading {
  background-image: none;
  background-color:#FFF;
  color: #000;
  text-align:center;
  border-bottom: 1px solid black;
}

.panel-title > h4{
  margin-bottom: 5px;
}

.panel-title > h5{
  margin-bottom: 5px;
}


.panel > .panel-body{
  border: 1px;

  background-color:#FFF;

}

.panel:hover{
  background-color:#363b44;
  transition: background-color 250ms linear;
}

.centered{
  text-align:center;
}
