<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/footer/footer.html'"></div>
<link rel="stylesheet" type="text/css" href="app/experience/jobs/jobs.css" />


<div class = "container">
  <div class = "row">
    <div class = "col-md-12">
      <h1>{{job.Name}}</h1>
      <hr class = "title">
      <div class = "container information">
        <h4 class = "text-muted"> {{job.Date}}, {{job.Location}}  <br> {{job.Position}} </h4>
        <!-- <h4 class = "text-muted"> </h4> -->
      </div>
      <div class = "container overview">
        <ul class="list-unstyled icon-list chevron-right">
          <li> <div class = "descriptor">Company Description</div> <p> {{job.Description}} </p> </li>
          <li> <div class = "descriptor">Development Environment</div>{{job.Environment}} </p> </li>
          <li class = "last"> <div class = "descriptor">Work Responsibilities</div>{{job.Responsibilities}} </p> </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class = "container">
  <h1>Work</h1>
  <hr>
</div>

<div class = "container">
  <div class="row">
    <div ng-repeat="w in works">
      <div class = "col-md-3">
        <div class = "panel panel-default tile data-trigger="hover"">
          <div class = "panel-heading">
            <div class = "panel-title">
              <h4> {{w.Name}} </h4>
            </div>
          </div>
          <div class = "panel-body">
            <p> {{w.Description}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "container">
  <h1>Technologies</h1>
  <hr>
</div>

<div class = "container">
  <div class="row">
    <div ng-repeat="t in technologies">
      <div class="col-md-2">
        <div class = "panel panel-default">
          <!-- <div class = "panel-heading">
            <div class = "panel-title">
               <h5>{{t.Name}} </h5>
             </div>
          </div> -->
          <div class = "panel-body centered">
            <h4> {{t.Name}} </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class = "container">
  <h1>Languages</h1>
  <hr>
</div>

<div class = "container">
  <div class="row">
    <div ng-repeat="l in languages">
      <div class="col-md-2">
        <div class = "panel panel-default">
          <!-- <div class = "panel-heading">
            <div class = "panel-title">
              <h5>{{l.Name}} </h5>
            </div>
          </div> -->
          <div class = "panel-body centered">
            <h4 class = "centered"> {{l.Name}} </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
