/*Panel*/
.panel{
  border: 1px solid black;
  background-color:#DDD;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1.5px;
  padding-bottom: 2.5px;
  transition: background-color 250ms ease;
}

.panel > .panel-heading {
  background-image: none;
  background-color:#FFF;
  color: #000;
  text-align:center;
  border-bottom: 1px solid black;
}

.panel-title > h4{
  margin-bottom: 5px;
}

.panel-title > h5{
  margin-bottom: 5px;
}

.panel > .panel-body{
  /*border: 1px solid #FFF;*/
  background-image: none;
  background-color:#FFF;
  padding-bottom: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

}

.panel:hover{
  background-color:#363b44;
}

/*List*/
.icon-list li {
  padding: 0 0 10px 20px;
  display: block;
  position: relative;
}

.icon-list li:before {
  font-family: 'Glyphicons Halflings';
  position: absolute;
  left: 0px;
  top:3px;
  font-size:80%
}

.bullet li:before {
  content:"\e254";
}

.bullet-subitem li:before{
  content:"\e080";  }

/*General*/
hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#000000;
  height: 1px;
}

.title > hr {
  margin: 0px;
}

.overview > hr{
  /*margin: 0px 0px 5px 0px;*/
  margin: 0px;
}
.information{
  margin: 0px;
  padding: 0px;
}

.information > h5{
  margin-bottom: 20px;
}

.summary{
  margin: 0px;
  padding: 0px;
}

.descriptor{
  font-weight: bold;
  font-size: 110%;
  padding-bottom: 1px;
}

.last {
  padding-bottom: 0px !important;
}

.centered{
  text-align:center;
}
