.centered {
  text-align: center;
}

.bordered {
    border: 1px solid black;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#000000;
  height: 1px;
}

.job > hr {
  background-color:#DDDDDD;
  height: 1px;
}

.panel > .panel-heading {
  background-image: none;
  background-color: #4C535F;
  color: white;
}


.job a {
  color: black;
  text-decoration: none;
}

.job a:hover {
  color: #4d5460;
  text-decoration: none;
}

.job a:active {
  color: black;
  text-decoration: none;
}

.job .glyphicon {
  line-height: 33px;
  height: 33px;
  vertical-align: text-top;
  font-size: large;
}
