.tile  {
  background-color: #ffffff;
  min-height: 180px;
  min-width: 360px;
  padding: 10px 10px 10px 10px;
}

.centered {
  text-align: center;
}

.bordered {
    border: 1px solid black;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#000000;
  height: 1px;
}

.job > hr {
  background-color:#DDDDDD;
  height: 1px;
}

.panel > .panel-heading {
  background-image: none;
  background-color: #4C535F;
  color: white;
}
