<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/footer/footer.html'"></div>
<link rel="stylesheet" type="text/css" href="app/experience/experience.css" />


<div class = "container">
  <h1>Jobs</h1>
  <hr>
</div>

<div class = "container">
  <div class = "row">
    <div ng-repeat="j in jobs">
      <div class = "col-md-offset-2 col-md-8 col-md-offset-2 job">
        <h2> {{j.Name}} </h2>
        <h5 class = "text-muted"> {{j.Date}}</h5>
        <p>{{j.Description}}</p>
        <a ng-href = "experience/jobs/{{j.jobId}}">
          <i class="fa-angle-double-right"></i> More
        </a>
        <hr>
      </div>
    </div>
  </div>
</div>


<!-- <div class = "container">
  <div class="row">
    <div ng-repeat="job in jobs">
      <div class="col-md-12">
        <div class = "panel panel-default bordered">
          <div class = "panel-heading">
            <h3 class = "panel-title"> {{job.Name}} </h3>
          </div>
          <div class = "panel-body">
            <p> {{job.Date}}, {{job.Location}} </p>
            <p> {{job.Position}} </p>
            <p> {{job.Description}} </p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div> -->
