hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#000000;
  height: 1px;
}

.post-list > hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#000000;
  height: 1px;
}

.post > hr {
    background-color:#DDDDDD;
    height: 1px;
}

.code-container {
  display:block;
  text-align: center;
}
